.LoginPage{
    width: 100%;
    height: 100vh;
    min-height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2F2F2F;
}

.LoginPage h1{
    color: #fff;
    align-self: start;
}

.formBox{
    background-color: #fff;
    border-radius: 20px;
    box-shadow:3px 6px 15px #002651;
    padding: 20px;
    width: 100%;
    max-width: 400px;
}

.formBox h1{
    text-align: center;
    margin-bottom: 2px;
    color: #002651;
}

.formBox label{
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #002651;
}

.formBox input{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 0.5px solid #C4C4C4;
    border-radius: 15px;
    background: transparent;
    font-size: 8px;
    transition: border-color 0.3s ease;
    padding: 20px;
}

.formBox input:focus{
    border-color: #002651;
}

.loginButton{
    width: 40%;
    height: 35px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 6px 10px 10px 10px;
    background-color: #002651;
    color: #fff;
    border: 0.5px solid #002651;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
}

.loginButton:hover{
    color: #002651;
    background-color: #fff;
    border: 0.5px solid #C4C4C4;
}

.formContainer{
    display: flex;
    align-items: center;
    gap: 12px;
}

.signupText{
    display: inline;
    font-size: 10px;
    color: #A1A1A1;
}

.signupLink{
    display: inline;
    color: #002651;
    text-decoration: none;
    font-size: 10px;
}

.signupLink:hover{
    text-decoration: underline;
}